body.home-page {
    background-color: #000000;
    color: #FFFFFF;
}

body.files-page {
    background-color: #000000;
    color: #FFFFFF;
}

.btn-main {
    background-color: #7049ce;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s, border 0.3s;
}

.btn-main:hover {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #7049ce;
}

.btn-outline {
    background-color: #191919;
    color: #FFFFFF;
    border: 1px solid #7049ce;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline:hover {
    background-color: #7049ce;
    color: #FFFFFF;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s, border 0.3s;
}

.btn-danger:hover {
    background-color: #a71d2a;
    color: #FFFFFF;
    border: none;
}

.form-label {
    color: #FFFFFF;
}

.card {
    background-color: #191919;
    border: 1px solid #7049ce;
}

.list-group-item {
    background-color: #191919;
    color: #FFFFFF;
    border: none;
}

.alert {
    border-radius: 0.25rem;
}

.alert-success {
    background-color: #28a745;
    color: #FFFFFF;
}

.alert-danger {
    background-color: #dc3545;
    color: #FFFFFF;
}

.alert-warning {
    background-color: #ffc107;
    color: #000000;
}

h1, h2, strong {
    color: #FFFFFF;
}

.btn-close {
    filter: invert(1);
}

input[type="checkbox"] {
    accent-color: #7049ce;
}

.logo-image {
    max-width: 150px; /* Adjust the max-width as needed */
    height: auto;
    margin-bottom: 20px;
}

.modal-content {
    background-color: #191919;
    color: #FFFFFF;
}

.dropzone {
    border: 2px dashed #7049ce;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    color: #7049ce;
    transition: background-color 0.3s, border-color 0.3s;
}

.dropzone.dragover {
    background-color: #f8f9fa;
    border-color: #000000;
    color: #000000;
}

.dropzone input[type="file"] {
    display: none;
}

.upload-feedback {
    margin-top: 15px;
}