<!doctype html>
<html lang="en">
<head>
    <!-- Head Contents -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XARhub File Server</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include the styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="home-page">
<div class="container">
    <div class="py-5 text-center">
        <!-- Add the logo image here -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-image">
        <h1>XARhub File Server</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error_message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    </div>

    <!-- File upload form -->
    <div class="card p-4 mb-4">
        <form method="post" enctype="multipart/form-data" class="mb-3">
            <div class="mb-3">
                <label for="fileInput" class="form-label"><strong>Choose files to upload</strong> (multiple allowed):</label>
                <input type="file" name="file[]" id="fileInput" class="form-control" multiple>
            </div>
            <!-- Centering the buttons in a row -->
            <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-main">Upload</button>
                <a href="/files" class="btn btn-main">View QR Codes</a>
            </div>
        </form>
    </div>

    <hr>
    
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
